<h1>this is the homepage of my blog app</h1>

<%= link_to = "alpha blog", articles_path %> | <%= link_to "about", pages_about_path %>

<%= link_to image_tag('2.jpg'), 'https://github.com/zenidith' %>

